@use "../../styles/partials/colors";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.upload {
  width: 100%;
  @include divider-top;
  @include tablet {
    display: flex;
    justify-content: space-between;
  }

  &__inner {
    @include side-margins;
    @include desktop {
      max-width: 63.75rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__title {
    font-size: 1.5rem;

    @include margin-tall;
    @include margin-top-tall;
    @include tablet {
      font-size: 2.0625rem;
      @include margin-short;
      @include padding-short;
      @include divider;
    }
  }

  &__form-group {
    width: 100%;

    @include margin-tall;
    @include tablet {
      margin-right: 1.5rem;
    }
    @include desktop {
      @include margin-short;
    }
  }

  &__inputs {
    @include desktop {
      display: flex;
    }
  }

  &__form--right {
    @include desktop {
      width: 100%;
    }
  }

  &__form--left {
    @include desktop {
      width: 20rem;
    }
  }

  &__form-label {
    display: block;
    color: colors.$primary-pale;
    font-weight: 700;
    margin-bottom: 0.25rem;
  }

  &__form-thumbnail {
    background: url("http://localhost:8080/images/Upload-video-preview.jpg");
    background-size: cover;
    background-position: center;
    height: 50vw;
    border-radius: 4px;
    background-color: colors.$secondary-pale;

    @include tablet {
      height: 25vw;
      width: 50%;
    }
    @include desktop {
      height: 87.5%;
      width: 20rem;
    }
  }
  &__form-input {
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 0 0.75rem;
    border: 1px solid colors.$secondary-pale;
    background-color: colors.$secondary-light;
    box-sizing: border-box;

    @include form-height;
    @include tablet {
      padding-bottom: 0;
    }
  }

  &__form-input:focus {
    outline: none;
    border: 2px solid colors.$primary-color;
  }

  &__form-input::placeholder {
    color: colors.$secondary-dark;
  }

  &__form-input--tall {
    @extend .upload__form-input;
    height: 6rem;
    padding-bottom: 3.5rem;
  }

  &__form-submit--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      flex-direction: row-reverse;
      @include margin-tall;
    }
    @include desktop {
      @include padding-top-short;
      @include divider-top;
    }
  }

  &__form-submit {
    background: url("../../assets/Icons/upload.svg") no-repeat;
    background-position: 0.5rem 50%;
    background-size: 1.25rem;
    height: 2.5rem;
    color: colors.$primary-light;
    background-color: colors.$primary-color;
    border-radius: 4px;
    font-weight: 700;
    font-size: 0.75rem;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      width: 9.5rem;
      margin: 0;
      margin-left: 5rem;
    }
  }

  &__form-submit:hover {
    background-color: colors.$secondary-color;
    cursor: pointer;
  }

  &__form-cancel {
    color: colors.$primary-color;
    font-weight: 700;
    margin: 2rem 0;

    @include tablet {
      margin: 0;
    }
  }
}
