@use "../../styles/partials/colors";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.upload {
  width: 100%;
  @include divider-top;
  @include tablet {
    display: flex;
    justify-content: space-between;
  }

  &__inner {
    @include side-margins;
  }
  &__title {
    font-size: 1.5rem;

    @include margin-tall;
    @include margin-top-tall;
    @include tablet {
      font-size: 2.0625rem;
      margin-bottom: 0;
    }
  }

  &__form-group {
    width: 100%;

    @include margin-short;
    @include tablet {
      margin-bottom: 0;
      margin-right: 1.5rem;
    }
  }

  &__form-label {
    display: block;
    color: colors.$primary-pale;
    font-weight: 700;
    margin-bottom: 0.25rem;
  }

  &__form-thumbnail {
    background: url("../../assets/Images/Upload-video-preview.jpg");
    background-size: cover;
    background-position: center;
    height: 50vw;
    border-radius: 4px;

    @include tablet {
      max-height: 12rem;
      width: 50%;
    }
  }
  &__form-input {
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 0 0.75rem;
    border: 1px solid colors.$secondary-pale;
    background-color: colors.$secondary-light;
    box-sizing: border-box;

    @include form-height;
    @include tablet {
      padding-bottom: 0;
    }
  }

  &__form-input:focus {
    outline: none;
    border: 2px solid colors.$primary-color;
  }

  &__form-input::placeholder {
    color: colors.$secondary-dark;
  }

  &__form-input--tall {
    @extend .upload__form-input;
    height: 6rem;
    padding-bottom: 3.5rem;
  }

  &__form-submit-container {
    @include tablet {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__form-submit {
    background: url("../../assets/Icons/upload.svg") no-repeat;
    background-position: 0.5rem 50%;
    background-size: 1.25rem;
    height: 2.5rem;
    color: colors.$primary-light;
    background-color: colors.$primary-color;
    border-radius: 4px;
    font-weight: 700;
    font-size: 0.75rem;
    border: none;
    width: 100%;

    @include tablet {
      width: 9.5rem;
      margin-bottom: 0;
      margin-top: auto;
    }
  }

  &__form-submit:hover {
    background-color: colors.$secondary-color;
    cursor: pointer;
  }
}
