@use "../../styles/partials/colors.scss";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  @include side-margins;

  &__inner {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
    @include desktop {
      max-width: 63.75rem;
      margin: 0 auto;
    }
  }

  &__logo {
    background-image: url("../../assets/Logo/BrainFlix-logo.svg");
    background-size: cover;
    background-position: center;
    height: 25px;
    width: 120px;
    margin: 0 auto;
    display: flex;

    @include margin-short;
    @include margin-top-short;
    @include tablet {
      margin: auto 0;
    }
  }

  &__nav {
    width: 100%;
    position: relative;

    @include tablet {
      max-width: 35rem;
      display: flex;
      justify-content: flex-end;
      @include margin-top-short;
    }
  }

  &__search {
    background: url("../../assets/Icons/search.svg") no-repeat;
    background-position: 0.5rem 50%;
    padding-left: 2rem;
    width: 85%;
    box-sizing: border-box;
    border: 1px solid colors.$secondary-pale;
    border-radius: 4px;
    background-color: colors.$secondary-light;

    @include form-height;
    @include margin-short;
    @include tablet {
      max-width: 15.5rem;
    }
  }

  &__search::placeholder {
    color: colors.$primary-dark;
  }

  &__search:focus {
    outline: none;
    border: 2px solid colors.$primary-color;
  }

  &__button {
    background: url("../../assets/Icons/upload.svg") no-repeat;
    background-position: 0.5rem 50%;
    background-size: 1.25rem;
    height: 2.5rem;
    color: colors.$primary-light;
    background-color: colors.$primary-color;
    border-radius: 4px;
    font-weight: 700;
    font-size: 0.75rem;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include margin-short;
    @include tablet {
      max-width: 9.5rem;
      margin-left: 1.5rem;
    }
  }

  &__button:hover {
    background-color: colors.$secondary-color;
    cursor: pointer;
  }

  &__usericon {
    background: url("http://localhost:8080/images/Mohan-muruge.jpg");
    background-size: cover;
    background-position: 15% 50%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;

    @include avatar-width;
    @include form-height;
    @include tablet {
      position: static;
      margin-right: 0;
      margin-left: 2.25rem;
    }
  }
}
