@use "../../styles/partials/colors.scss";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments {
  @include side-margins;
  @include margin-top-tall;
  @include desktop {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  &__count {
    font-weight: 700;
  }
  &__content {
    @include desktop {
      padding-right: 1.5rem;
    }
  }
  &__date {
    @include desktop {
      position: absolute;
      top: 0;
      left: 40rem;
    }
  }
}
