@use "../../styles/partials/colors.scss";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.details {
  @include side-margins;
  @include margin-top-tall;

  @include desktop {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  &__title {
    font-size: 1.5rem;

    @include margin-short;
    @include padding-short;
    @include divider;
    @include tablet {
      font-size: 2.0625rem;
      margin-bottom: 0;
      border: none;
    }
  }

  &__vidinfo {
    display: flex;
    justify-content: space-between;

    @include margin-short;
    @include padding-short;
    @include divider;
    @include tablet {
      padding-bottom: 0.75rem;
    }
  }

  &__vidinfo--left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
      flex-direction: row;
    }
  }

  &__channel {
    font-weight: 700;

    @include tablet {
      margin-right: 2rem;
      font-size: 0.9rem;
      line-height: 0.75rem;
    }
  }

  &__date {
    color: colors.$primary-pale;
  }

  &__vidinfo--right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 15%;
    color: colors.$primary-pale;

    @include tablet {
      flex-direction: row;
      margin: 0;
    }
  }

  &__views {
    display: flex;
    @include margin-short;
    @include tablet {
      margin: 0;
    }
  }

  &__views--icon {
    margin-right: 0.5rem;
  }

  &__likes {
    display: flex;
  }

  &__likes--icon {
    margin-right: 0.5rem;

    @include tablet {
      margin-left: 2rem;
    }
  }

  &__text {
    @include desktop {
      padding-right: 1.5rem;
    }
  }
}
